:root{

    --header:#e9d4bc;
    --background:#e5cfb6;
    
    --text:#2b2119;
    --red:#a33d32;
    --active:#963931;

    --shadow:
    0 8px 30px rgba(0,0,0,.08);

}

body{

    background:var(--background);

    font-family:'Cormorant Garamond',serif;

    padding-top:100px;
}

/* ========================= */

.site-header{

    position:fixed;

    top:20px;
    left:50%;

    transform:translateX(-50%);

    width:min(1450px,95vw);

    z-index:9999;

    animation:headerAppear .6s ease;
}



.header-container{

    background:rgba(233,213,189,.92);

    backdrop-filter:blur(12px);

    border-radius:999px;

    box-shadow:var(--shadow);

    padding:

    16px
    35px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:40px;
}

/* ========================= */

.logo img{

    height:67px;
    width:auto;
}

/* ========================= */

.main-nav{

    display:flex;

    align-items:center;

    gap:32px;
}

.main-nav a{

    display:flex;
    align-items:center;
    gap:8px;

    text-decoration:none;

    color:var(--text);

    font-family:'Inter', Helvetica, Arial, sans-serif;

    text-transform:uppercase;

    font-size:1rem;

    font-weight:500;

    letter-spacing:.02em;

    transition:.25s;

    position:relative;
}


.main-nav a:hover{

    color:var(--red);
}

.main-nav a::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-6px;

    width:0;

    height:2px;

    background:var(--red);

    transition:.25s;
}

.main-nav a:hover::after{

    width:100%;
}

/* ========================= */

.socials{

    display:flex;
    gap:18px;
}

.socials a{

    width:42px;
    height:42px;

    border-radius:50%;

    background:white;

    color:var(--text);

    display:flex;

    align-items:center;
    justify-content:center;

    font-size:1.1rem;

    transition:.25s;
}

.socials a:hover{

    background:var(--red);

    color:white;

    transform:translateY(-2px);
}

/* ========================= */

.menu-toggle{

    display:none;

    background:none;

    border:none;

    font-size:2rem;

    cursor:pointer;
}

/* ========================= */

@keyframes headerAppear{

    from{

        opacity:0;
        transform:
        translateX(-50%)
        translateY(-15px);
    }

    to{

        opacity:1;
        transform:
        translateX(-50%)
        translateY(0);
    }
}

/* ========================= */
/* MÒBIL */
/* ========================= */
@media(max-width:950px){

    .header-container{

        position:relative;
    }

    .menu-toggle{

    display:block;

    background:none;
    border:none;

    font-size:1.8rem;

    cursor:pointer;

    color:#2b2119;

    transition:.25s ease;
}

    .socials{

        display:none;
    }

    .main-nav{

        display:none;

        position:absolute;

        top:100%;

        left:0;

        width:100%;

        background:#e9d4bc;

        border-radius:20px;

        margin-top:12px;

        padding:20px;

        box-shadow:
        0 10px 30px rgba(0,0,0,.12);

        flex-direction:column;

        align-items:flex-start;

        gap:18px;
    }

    .main-nav.active{

        display:flex;
    }

    .logo img{

        height:58px;
    }

}

        .technical-link{

    color:#8c8c8c !important;
}
